$brand-palette: (
  xing: #0ea85b,
  linkedin: #0e76a8,
  github: #2f343a,
  instagram: #f33b78,
);

@each $brand-name, $brand-color in $brand-palette {
  a.#{$brand-name} {
    display: inline-block;
    width: calc(100% - 2rem);
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    color: white;
    background: rgba($brand-color, 0.5);

    &:hover {
      background: $brand-color;
    }
  }
}
