// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }

  @return unquote($value);
}

@mixin nightSky {
  html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
}

@mixin starStyle($size, $starCount) {
  width: $size * 1px;
  height: $size * 1px;
  background: transparent;
  box-shadow: multiple-box-shadow($starCount);
}

@mixin star($size, $starCount, $velocity) {
  .stars-#{$size} {
    @include starStyle($size, $starCount);
    animation: animStar $velocity linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      @include starStyle($size, $starCount);
    }
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}
